$ff: 'Inter', sans-serif;
$bl: #28252F;
$wh: #fff;
$purple-gray: #F2F3F8;
$blue: #2022CD;
$lblue: #5355FD;
$gray: #868686;
$gray2: #CFCFCF;
$orange: #FF844C;
$d-orange: #E75C1C;
$lh: 1.21;
$lh-big: 1.6;